NGTweet.ViewModels/Service References/INGTweetAuthenticationService/NGTweetAuthenticationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1883/NGTweetAuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" />
  <xs:import schemaLocation="http://localhost:1883/NGTweetAuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TweetSharp" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="request" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestToken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="GetRequestTokenResult" nillable="true" type="q3:GetRequestTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TweetSharp" minOccurs="0" name="access" nillable="true" type="q4:OAuthAccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="GetTweetsResult" nillable="true" type="q5:GetTweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsMentioningMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TweetSharp" minOccurs="0" name="access" nillable="true" type="q6:OAuthAccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsMentioningMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="GetTweetsMentioningMeResult" nillable="true" type="q7:GetTweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsSince">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="request" nillable="true" type="q8:GetTweetsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsSinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="GetTweetsSinceResult" nillable="true" type="q9:GetTweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="request" nillable="true" type="q10:SendTweetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="SendTweetResult" nillable="true" type="q11:SendTweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Retweet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="request" nillable="true" type="q12:RetweetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetweetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="RetweetResult" nillable="true" type="q13:RetweetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>