NGTweet.ViewModels/Service References/INGTweetAuthenticationService/NGTweetAuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TweetSharp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TweetSharp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OAuthRequestToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="OAuthCallbackConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenSecret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OAuthRequestToken" nillable="true" type="tns:OAuthRequestToken" />
  <xs:complexType name="OAuthAccessToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OAuthAccessToken" nillable="true" type="tns:OAuthAccessToken" />
</xs:schema>