NGTweet/Service References/NGTweetSharpService/NgTweetSharpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TweetSharpService.DomainObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TweetSharpService.DomainObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNGTweeterStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NGTweeterStatus" nillable="true" type="tns:NGTweeterStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNGTweeterStatus" nillable="true" type="tns:ArrayOfNGTweeterStatus" />
  <xs:complexType name="NGTweeterStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tweet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:NGTweeterUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NGTweeterStatus" nillable="true" type="tns:NGTweeterStatus" />
  <xs:complexType name="NGTweeterUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NGTweeterUser" nillable="true" type="tns:NGTweeterUser" />
</xs:schema>