NGTweet/Service References/NGTweetSharpService/NgTweetSharpService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1883/NgTweetSharpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" />
  <xs:element name="GetTweetsOnPublicTimeline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTweetsOnPublicTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TweetSharpService.DTO" minOccurs="0" name="GetTweetsOnPublicTimelineResult" nillable="true" type="q1:GetDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>